<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.com.kaargo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="true">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".Splash"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SenderScreen" />
        <activity
            android:name=".Sender.SenderHome"
            android:label="@string/title_activity_sender_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Sender.AddTrips" />
        <activity
            android:name=".CustomerHome"
            android:label="@string/title_activity_customer_home"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".Customer.AddProducts" />
        <activity android:name=".Sign" />
        <activity android:name=".Sender.FullProduct" />
        <activity android:name=".Customer.FullTrip" />
        <activity android:name=".StartActivity" />
    </application>

</manifest>